Library/
ProjectSettings/
Temp/
UnityPackageManager/manifest.json
MaxstARUnity.apk
MaxstARSDK_Unity_Sample.v12.suo
MaxstARSDK_Unity_Sample.sln
MaxstARSDK_Unity_Sample.CSharp.csproj
MaxstARSDK_Unity_Sample.CSharp.Editor.csproj
Assembly-UnityScript.unityproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
test.apk
obj/Debug/
MaxstARSDK_Unity_Sample.userprefs
MaxstARSDK_Unity_Sample_github.CSharp.csproj
MaxstARSDK_Unity_Sample_github.CSharp.Editor.csproj
MaxstARSDK_Unity_Sample_github.v12.suo
MaxstARSDK_Unity_Sample_github.sln
*.apk
MaxstARSDK_Unity_Sample_github(maxstdev).v12.suo
MaxstARSDK_Unity_Sample_github(maxstdev).CSharp.csproj
MaxstARSDK_Unity_Sample_github(maxstdev).sln
MaxstARSDK_Unity_Sample_github(maxstdev).CSharp.Editor.csproj
MaxstARSDK_UnitySample(Github).sln
MaxstARSDK_UnitySample(Github).csproj
MaxstARSDK_UnitySample(Github).Editor.csproj
.vs/
Assets/StreamingAssets/arsdk_version.txt
Assets/StreamingAssets/arsdk_version.txt.meta
log.txt
