Library/
ProjectSettings/
Temp/
UnityPackageManager/manifest.json
MaxstARUnity.apk
MaxstARSDK_Unity_Sample.v12.suo
MaxstARSDK_Unity_Sample.sln
MaxstARSDK_Unity_Sample.CSharp.csproj
MaxstARSDK_Unity_Sample.CSharp.Editor.csproj
